:root {
    --primary-color: #F0F0F0;
    --primary-border-color: #C7C8C9;

    --primary-bg-color: #111217;
    --secondary-bg-color: #28292E;
    --border-color: #28292E;

    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-bg-color) transparent;
}

::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 50rem;
  }

  @media (max-width:713px) {
    .technologies__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}  

@media (max-width:500px) {
    main{
        margin-top: 80px;
    }

    .technologies{
        margin-top: 250px;
        margin-bottom: 50px;
    }
}

@media (max-width:400px) {
    #list-icons{
        grid-template-columns: repeat(3, 1fr);
    }
}  

@media (min-width:768px) {

    .technologies__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
        gap: .5rem;
    }

    .main__content1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .technologies {
        padding: 5rem 6rem 5rem;
        margin-top: 150px;
    }

    footer {
        margin: 0;
    }

    .nav--mobile{
        display: none;
    }
    
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color  );
        padding: 1rem 6rem;
        background-color: var(--primary-bg-color);
    }

    .header__nav, .header__toggle {
        min-width: 30%;
    }

    .header__nav{
        display: flex;
    }
    main,.projects, .about{
        padding: 8rem 6rem 4rem 6rem;
    }
    h1{
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .contact {
        padding: 6rem;
    }

    .contact p {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .projects__card {
        flex-direction: row;
        z-index: 1;
    }
    .card__cover {
        width: 55%;
        height: 375px;
    }
    .projects__card.card--reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .about {
        gap: 5rem;
    }

    .about__content1, .about__content2 {
        display: grid;
        grid-template-columns: 34% 60%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }

    .about__description h2 {
        text-align: left;
    }
    
    .description__buttons {
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    p, span, li {
        font-size: 1.15rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .technologies{
        padding: 5rem 6rem 5rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .technologies h2{
        font-size: 3rem;
        text-align: start;
        width: 90%;
    }

    .technologies__item {
        width: 5rem;
        height: 5rem;
    }

    .technologies__logo {
        height: 2.5rem;
    }

    .card__buttons .btn, .description__buttons .btn {
        width: auto;
    }
}

@media (min-width: 1400px) {

    h1{
        font-size: 6.25rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 2.7rem;
    }

    .header {
        padding: 1rem 15rem;
    }
    main {
        padding: 12rem 15rem 2rem;
    }
    .projects, .about {
        padding: 10rem 15rem 4rem;
    }
    .technologies{
        padding: 6rem 15rem 6rem;
    }
}